html, body{
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
  background: linear-gradient(#84b5c4, black);
  width: 100%;
	height: 100%;
  margin: 0;
  overflow: hidden;
}

a{
  color:#476596;
}

a:link{
  text-decoration: none;
}

a:hover{
  color: white;
}

#gameUIContainer {
  position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	pointer-events: none;
}

#debugContainer {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 30px;
  font-family: 'Kdam Thmor Pro';

}

#centerContent {
  align-items: center;
  text-align: center;
}

#notificationWrapper {
  text-align: center;
}

#menuContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  align-content: center;
  flex-direction: column-reverse;
  display: flex;
  grid-gap: 1em;
  background:  linear-gradient(#015873, #84b5c4, #015873, #13163b);
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s linear, opacity 0.5s linear;
}

#notificationContainer {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 15%;
  transform: translate(-50%);
  font-size: 2.5em;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  transition: opacity 0.2s linear, width 0.5s linear;
}

#notificationContainer : hover{
  cursor: default;
}

#gameGuiContainer {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

#upgradeContainer {
  display: flex;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  grid-gap: 1em;
  justify-content: center;
  width: 35em;
  height: 3em;
  font-size: 12px;
  font-family: 'Kdam Thmor Pro';
  color: white;
  transition: opacity 0.3s linear;
}

#upgradePointsTitle {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5em;
  font-family: 'Kdam Thmor Pro';
  color: white;
  transition: opacity 0.3s linear;
}

#upgradeItem {
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 3px;
  padding: 8px;
}

#abilityContainer {
  position: absolute;
  width: 4em;
  bottom: 100px;
  left: 10px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(30, 30, 30, 0.6);
  font-family: 'Kdam Thmor Pro';
  font-size: 32px;
  color: white;
}

#abilityContainerCooldown {
  bottom: 100px;
  left: 10px;
  padding: 5px;
  border-radius: 2px;
  border-bottom: solid white 5px;
  width: 100%;
  white-space: nowrap;
}

.abilityHint {
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 0px;
}

#tabLeaderboard {
  color: white;
  position: absolute;
  border-radius: 3px;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  background-color: rgba(30, 30, 30, 0.8);
  font-size: 1.5em;
}

#tabLeaderboard td{
  font-size: 0.8em;
  border-top: solid white 2px;
}

#currentLaps {
  position:absolute;
  text-align: center;
  width: 4em;
  bottom: 130px;
  right: 10px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(30, 30, 30, 0.6);
  font-family: 'Kdam Thmor Pro';
  font-size: 30px;
  color: white;
}

#currentLapsInterior{
  bottom: 120px;
  left: 10px;
  padding: 5px;
  border-radius: 2px;
  background-color: rgba(30, 30, 30, 0.6);
  width: 92%;
  white-space: nowrap;
}


#bestTimeContainer {
  position: absolute;
  width: 6em;
  bottom: 70px;
  right: 10px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(30, 30, 30, 0.6);
  font-family: 'Kdam Thmor Pro';
  font-size: 24px;
  color: white;
}

#bestTimeContainerInterior {
  bottom: 70px;
  left: 10px;
  padding: 5px;
  border-radius: 2px;
  background-color: rgba(30, 30, 30, 0.6);
  width: 92%;
  white-space: nowrap;
}

#timeContainer {
  position: absolute;
  width: 6em;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(30, 30, 30, 0.6);
  font-family: 'Kdam Thmor Pro';
  font-size: 24px;
  color: white;
}

#timeContainerInterior {
  bottom: 10px;
  left: 10px;
  padding: 5px;
  border-radius: 2px;
  background-color: rgba(30, 30, 30, 0.6);
  width: 92%;
  white-space: nowrap;
}

#boostContainer {
  position: absolute;
  width: 4em;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(30, 30, 30, 0.6);
  font-family: 'Kdam Thmor Pro';
  font-size: 32px;
  color: white;
}

#boostContainerCooldown {
  bottom: 10px;
  left: 10px;
  padding: 5px;
  border-radius: 2px;
  border-bottom: solid white 5px;
  width: 100%;
  white-space: nowrap;
}

#leaderboardContainer {
  position: absolute;
  width: 14%;
  display: table;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(30, 30, 30, 0.6);
  font-family: 'Kdam Thmor Pro';
  font-size: 32px;
  color: white;
}

#leaderboardContainer td {
  font-size: 18px;
}

#metricsButton {
  color:#476596;
  border-radius: 0.2em;
  font-size: 20px;
  padding-left: 0.8em;
  padding-right: 0.8em;
  background-color: transparent;
  font-family: 'Kdam Thmor Pro';
  text-align: right;
  align-self: flex-end;
  bottom: 1em;
  border: none;
}

#metricsButton:hover{
  color: white;
}

#metricsContainer {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  text-align: left;
  color:#476596;
  background-color: white;
  border-radius: 0.5em;
  border: 0.5em solid black;
  border-top: 2em solid black;
}

#metricsData {

}

#metricsContainerExitButton{
  margin-left: auto;
  height: 2.2em;
  width: 2.2em;
  background-color: red;
  transform: translateY(-2.2em);
  font-weight: 600;
  border: none;
}

#metricsContainerExitButton:hover{
  background-color:  #ff5733;
}

#footerContainer {
  display: flex;
  text-align: center;
  align-self: center;
  font-size: 20px;
  padding: 0em;
  text-decoration: none;
  color: white;
}

#sourceCodeNav{
  align-self: center;
}

#authorContainer {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  transform: translateY(1em);
}

#versionContainer {
  position: absolute;
  bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  right: 1%;
}

#carSelect {
  align-items: center;
  text-align: center;
  padding: 0.5em;
}

#carSelect label{
  background-color: #02f6fa;
  border-radius: 3px;
  padding: 3px;
}

#nameInput {
  align-self: center;
  text-align: center;
  font-size: 2.5em;
  padding: 5px 1em, 1em, 5px;
  margin: 0 auto;
  display: block;
}

#inputContainer {
  align-self: center;
  justify-content: center;
  display: flex;
  transform: translateY(2em);
}

#enterGameButton {
  transform: translateZ(-10px);
  border-radius: 0.2em;
  font-size: 1.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-weight: bolder;
  background-color: #02f6fa;
  align-self: right;
  z-index: 100;
  border: none;
  font-family: 'Kdam Thmor Pro';
  text-align: center;
}

#enterGameButton:hover{
  background-color: #008f91;
}

#changeClassButton{
  border-radius: 0.2em;
  font-size: 1.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-weight: bolder;
  background-color: #02f6fa;
  align-self: left;
  border: none;
  font-family: 'Kdam Thmor Pro';
  text-align: center;
}

#changeClassButton:hover{
  background-color: #008f91;
}

#classImage{
  border-radius: 0.2em;
}

#classDisplay{
  max-width: 250px;
  min-width: 250px;
  align-self: center;
  display: flex;
  transform: translateY(2em);
  grid-gap: 0.5em;
  background-color: rgba(230, 230, 230, 0.6);
  border: 0.2em solid #02f6fa;
  padding: 0.3em;
  border-radius: 0.3em;
}

#mainCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(80%);
}

.gameTitle {
  top: -0.5em;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  position: fixed;
  font-size: 8em;
  /*border-bottom: 10px solid #02f6fa;*/
  white-space: nowrap;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
  padding: 1rem;
  border: 5px solid transparent;

}
