html, body{
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
  background-color: grey;
  width: 100%;
	height: 100%;
  margin: 0;
  overflow: hidden;
}

#gameUIContainer {
  position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	pointer-events: none;
}

#centerContent {
  align-items: center;
  text-align: center;
}

#menuContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  flex-direction: column-reverse;
  display: flex;
  grid-gap: 0.5em;
  background-color: rgba(20, 20, 20, 0.5);
  opacity: 1;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

#leaderboardContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(30, 30, 30, 0.4);
  font-family: 'Kdam Thmor Pro';
  font-size: 32px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.leaderboardItem {
  font-size: 16px;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.8);
}

#carSelect {
  align-items: center;
  text-align: center;
  background-color: black;
}

#carSelect label{
  background-color: #02f6fa;
  border-radius: 3px;
  padding: 3px;
}

#nameInput {
  align-self: center;
  text-align: center;
  font-size: 2em;
  padding: 0.4em;
}

#enterGameButton {
  border-radius: 0.3em;
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bolder;
  background-color: #02f6fa;
  align-self: center;
  z-index: 100;
  border: 4px solid white;
  font-family: 'Kdam Thmor Pro';
}

#enterGameButton:hover{
  background-color: #008f91;
}

#mainCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

.gameTitle {
  text-align: center;
  position: absolute;
  font-size: 4em;
  border-bottom: 10px solid #02f6fa;
}
